 #Timer h1{
   color: blue;
   margin :15px;
   padding :10px;
 }
 #TimerContent{
    color :blue;
    text-align : center;
 }
 #start{
    padding :15px;
    background-color: green;
    border-radius: 5px;
    justify-content: space-between;
    gap:15px;
    margin: 5px;
 }
 #pause{
     padding :15px;
    background-color:  red;
    border-radius: 5px;
    justify-content: space-between;
    gap:15px;
    margin: 5px; 
 }
 #restart{
    padding: 5x;
    width : 70px;
    margin : 5px;
    background-color: cornsilk;
    border-style :solid;
    border-color: dimgray;
    color : blue;
    font-size: 25px;
    height :50px;
    border-radius: 40px;
 }