 #navh{
      display: flex;
      background-color:aquamarine;
      color :black;
      height: 70px;
      padding:10px;
      align-items: center;
      justify-content: space-between;
  }
  ul{
    display :flex;
    gap :15px;
    text-align: center;
  }
  ul a{
    text-decoration: none;
    color  :darkblue;
    font-size: 18px;
    font-weight: 300;
  }
  a:active{
    color :white;
  }
  